@model GroupViewModel
@{
    ViewData["Title"] = "Gruppe bearbeiten";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
    var localizations = ViewBag.Localizations;
}

<div class="row">
    <div class="col-md-3">
        <partial name="/Views/Shared/_ConfigNav.cshtml" />
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@localizations["EditAuthorizationGroup"]</h4>
                </div>
                <div class="panel-body">
                    <div id="ErrorDiv" asp-validation-summary="All" style="color:red;">
                        <ul id="ErrorUL">
                            @if (!String.IsNullOrEmpty(errorMessage))
                            {
                                <li>@errorMessage</li>
                            }
                        </ul>
                    </div>

                    <form class="form" asp-action="EditAuthorizationGroup" method="post" onsubmit="disableButton('SendButton')">
                        <input type="hidden" asp-for="Group.ID" value="@Model?.Group?.ID" />
                        @if (Model != null && Model.Group != null)
                        {

                            <div class="form-inline row">
                                <label asp-for="Group.Name" class="control-label col-sm-6 unselectable">@localizations["Name"] *:</label>
                                <input type="text" class="form-control" asp-for="Group.Name" autocomplete="off" autofocus placeholder="@localizations["Name"]" />
                            </div>
                            <div class="form-inline row">
                                <label asp-for="Group.ADGroupName" class="control-label col-sm-6 unselectable">@localizations["ADGroupName"]:</label>
                                <input type="text" class="form-control" asp-for="Group.ADGroupName" autocomplete="off" placeholder="@localizations["ADGroupName"]" />
                            </div>

                            <hr />
                            <h4>@localizations["MenuProcessing"]</h4>

                            <div class="form-inline row">
                                <label asp-for="Group.CanUseProcessingList" class="control-label col-sm-6 unselectable">@localizations["AccessToProcessing"]:</label>
                                <input type="checkbox" asp-for="Group.CanUseProcessingList" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanModifyProcessingList" class="control-label col-sm-6 unselectable">@localizations["CanModifyProcessingList"]:</label>
                                <input type="checkbox" asp-for="Group.CanModifyProcessingList" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetLoadingStation" class="control-label col-sm-6 unselectable">@localizations["CanSetLoadingStation"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetLoadingStation" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetGate" class="control-label col-sm-6 unselectable">@localizations["CanSetGate"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetGate" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetRelease" class="control-label col-sm-6 unselectable">@localizations["CanSetRelease"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetRelease" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetCall" class="control-label col-sm-6 unselectable">@localizations["CanSetCall"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetCall" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetEntrance" class="control-label col-sm-6 unselectable">@localizations["CanSetEntrance"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetEntrance" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetProcessStart" class="control-label col-sm-6 unselectable">@localizations["CanSetProcessStart"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetProcessStart" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetProcessEnd" class="control-label col-sm-6 unselectable">@localizations["CanSetProcessEnd"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetProcessEnd" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanSetExit" class="control-label col-sm-6 unselectable">@localizations["CanSetExit"]:</label>
                                <input type="checkbox" asp-for="Group.CanSetExit" class="myCheckbox form-control" />
                            </div>

                            <hr />

                            <h4>@localizations["MenuHistory"]</h4>

                            <div class="form-inline row">
                                <label asp-for="Group.CanUseHistory" class="control-label col-sm-6 unselectable">@localizations["CanUseHistory"]:</label>
                                <input type="checkbox" asp-for="Group.CanUseHistory" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanExportHistory" class="control-label col-sm-6 unselectable">@localizations["CanExportHistory"]:</label>
                                <input type="checkbox" asp-for="Group.CanExportHistory" class="myCheckbox form-control" />
                            </div>

                            <hr />
                            <h4>@localizations["MenuConfiguration"]</h4>

                            <div class="form-inline row">
                                <label asp-for="Group.CanUseConfig" class="control-label col-sm-6 unselectable">@localizations["CanUseConfig"]:</label>
                                <input type="checkbox" asp-for="Group.CanUseConfig" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanModifyAllSettings" class="control-label col-sm-6 unselectable">@localizations["CanModifyAllSettings"]:</label>
                                <input type="checkbox" asp-for="Group.CanModifyAllSettings" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanInspectApproachTyps" class="control-label col-sm-6 unselectable">@localizations["CanInspectApproachTyps"]:</label>
                                <input type="checkbox" asp-for="Group.CanInspectApproachTyps" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanModifyApproachTyps" class="control-label col-sm-6 unselectable">@localizations["CanModifyApproachTyps"]:</label>
                                <input type="checkbox" asp-for="Group.CanModifyApproachTyps" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanInspectUnknownApproachTyps" class="control-label col-sm-6 unselectable">@localizations["CanInspectUnknownApproachTyps"]:</label>
                                <input type="checkbox" asp-for="Group.CanInspectUnknownApproachTyps" class="myCheckbox form-control" />
                            </div>

                            <div class="form-inline row">
                                <label asp-for="Group.CanModifyUnknownApproachTyps" class="control-label col-sm-6 unselectable">@localizations["CanModifyUnknownApproachTyps"]:</label>
                                <input type="checkbox" asp-for="Group.CanModifyUnknownApproachTyps" class="myCheckbox form-control" />
                            </div>
                            <hr />

                            <div class="form-group">
                                <p>* @localizations["Required"]</p>
                            </div>

                            <hr />
                        }
                        <div class="form-inline">
                            <a asp-action="AuthorizationGroups" class="btn btn-danger" style="float:left;" id="CancelButton" onclick="disableButton('CancelButton')">@localizations["Cancel"]</a>
                            <button type="submit" class="btn btn-success" style="float:right;" id="SendButton">@localizations["Save"]</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.getElementById("AuthorizationGroups").className += " active";

        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>" + localizations['NameRequired'] + "</li>";
            data += "<hr />";
            data += "<li>" + localizations['ADAuthorizationGroup'] + "</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }

    </script>
}

@*<div class="row">
    <div class="col-md-3">
        <partial name="/Views/Shared/_ConfigNav.cshtml" />
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Berechtigungsgruppe bearbeiten</h4>
                </div>
                <div class="panel-body">
                    <div id="ErrorDiv" asp-validation-summary="All" style="color:red;">
                        <ul id="ErrorUL">
                            @if (!String.IsNullOrEmpty(errorMessage))
                            {

                                <li>@errorMessage</li>

                            }
                        </ul>
                    </div>

                    <form class="form" asp-action="EditAuthorizationGroup" method="post" onsubmit="disableButton('SendButton')">
                        <input type="hidden" asp-for="Group.ID" value="@Model?.Group?.ID" />
                        
<div class="form-inline row">
    <label asp-for="Group.Name" class="control-label col-sm-6 unselectable">Name *:</label>
    <input type="text" class="form-control" asp-for="Group.Name" autocomplete="off" autofocus placeholder="Name" />
</div>
<div class="form-inline row">
    <label asp-for="Group.ADGroupName" class="control-label col-sm-6 unselectable">AD Gruppenname:</label>
    <input type="text" class="form-control" asp-for="Group.ADGroupName" autocomplete="off" placeholder="AD Gruppenname" />
</div>

<hr />
<h4>Bearbeitung</h4>

<div class="form-inline row">
    <label asp-for="Group.CanUseProcessingList" class="control-label col-sm-6 unselectable">Zugang zur Bearbeitungsliste:</label>
    <input type="checkbox" asp-for="Group.CanUseProcessingList" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanSetSpeiclaTrips" class="control-label col-sm-6 unselectable">Kann Sonderfahrten zuweisen:</label>
    <input type="checkbox" asp-for="Group.CanSetSpeiclaTrips" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanModifySupplier" class="control-label col-sm-6 unselectable">Kann den angegebenen Lieferanten bearbeiten:</label>
    <input type="checkbox" asp-for="Group.CanModifySupplier" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanModifyCustomer" class="control-label col-sm-6 unselectable">Kann den angegebenen Kunden bearbeiten:</label>
    <input type="checkbox" asp-for="Group.CanModifyCustomer" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanSetGate" class="control-label col-sm-6 unselectable">Kann Tore zuweisen:</label>
    <input type="checkbox" asp-for="Group.CanSetGate" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanSetEntrance" class="control-label col-sm-6 unselectable">Kann die Einfahrtszeit setzen:</label>
    <input type="checkbox" asp-for="Group.CanSetEntrance" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanSetProcessStart" class="control-label col-sm-6 unselectable">Kann den Startzeitpunkt setzen:</label>
    <input type="checkbox" asp-for="Group.CanSetProcessStart" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanSetProcessEnd" class="control-label col-sm-6 unselectable">Kann den Endzeitpunkt setzen:</label>
    <input type="checkbox" asp-for="Group.CanSetProcessEnd" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanSetExit" class="control-label col-sm-6 unselectable">Kann die Ausfahrtszeit setzen:</label>
    <input type="checkbox" asp-for="Group.CanSetExit" class="myCheckbox form-control" />
</div>

<hr />
<h4>Sonderfahrten</h4>

<hr />

<h4>Historie</h4>

<div class="form-inline row">
    <label asp-for="Group.CanUseHistory" class="control-label col-sm-6 unselectable">Zugang zur Historie:</label>
    <input type="checkbox" asp-for="Group.CanUseHistory" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanExportHistory" class="control-label col-sm-6 unselectable">Kann die Historiendaten exportieren:</label>
    <input type="checkbox" asp-for="Group.CanExportHistory" class="myCheckbox form-control" />
</div>

<hr />
<h4>Konfiguration</h4>

<div class="form-inline row">
    <label asp-for="Group.CanUseConfig" class="control-label col-sm-6 unselectable">Zugang zur Konfiguration:</label>
    <input type="checkbox" asp-for="Group.CanUseConfig" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanModifyAllSettings" class="control-label col-sm-6 unselectable">Kann alle Konfigurationseinstellungen bearbeiten:</label>
    <input type="checkbox" asp-for="Group.CanModifyAllSettings" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanInspectCompanyLists" class="control-label col-sm-6 unselectable">Kann Speditions-, Lieferanten- und Kundenliste einsehen:</label>
    <input type="checkbox" asp-for="Group.CanInspectCompanyLists" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanModifyCompanyLists" class="control-label col-sm-6 unselectable">Kann Speditionen, Lieferanten und Kunden bearbeiten, hinzufügen und löschen:</label>
    <input type="checkbox" asp-for="Group.CanModifyCompanyLists" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanInspectUnknownCompanyLists" class="control-label col-sm-6 unselectable">Kann die Liste der unbekannten Speditionen, Lieferanten und Kunden einsehen und Einträge löschen:</label>
    <input type="checkbox" asp-for="Group.CanInspectUnknownCompanyLists" class="myCheckbox form-control" />
</div>

<div class="form-inline row">
    <label asp-for="Group.CanExportUnknownCompanyLists" class="control-label col-sm-6 unselectable">Kann die Listen der unbekannten Speditionen, Lieferanten und Kunden exportieren:</label>
    <input type="checkbox" asp-for="Group.CanExportUnknownCompanyLists" class="myCheckbox form-control" />
</div>
<hr />

<div class="form-group">
    <p>* Pflichtfeld</p>
</div>

<hr />

<div class="form-inline">
    <a asp-action="AuthorizationGroups" class="btn btn-danger" style="float:left;">Abbrechen</a>
    <button type="submit" class="btn btn-success" style="float:right;" id="SendButton">Speichern</button>
</div>
                    </form>

                </div>
            </div>
        </div>
<div class="col-sm-2">
</div>
    </div>
</div>


@section Scripts{
    <script>
        document.getElementById("AuthorizationGroups").className += " active";

        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Der Name ist ein Pflichtfeld und muss einzigartig sein.</li>";
            data += "<hr />";
            data += "<li>Wenn Sie einen AD Gruppennamen angeben, können automatisch erzeugte Benutzer bei der Erzeugung dieser Gruppe zugewiesen werden, wenn der Benutzer der entsprechenden Active Directory Gruppe angehört.</li>";
            data += "<hr />";
            data += "<li>Wählen Sie alle gewünschten Berechtigungen dieser Gruppe an.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}*@