@model GateViewModel
@{
    ViewData["Title"] = "Tor bearbeiten";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
    var localizations = ViewBag.Localizations;
}

<div class="row">
    <div class="col-md-3">
        <partial name="/Views/Shared/_ConfigNav.cshtml" />
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@localizations["EditGate"]</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    <form class="form" asp-action="EditGate" method="post" onsubmit="disableButton('SendButton')">
                        <input type="hidden" asp-for="@Model.Gate.ID" value="@Model?.Gate.ID" />
                        <div class="form-group">
                            <label class="control-label">@localizations["Name"] *:</label>
                            <input type="text" class="form-control" asp-for="@Model.Gate.Name" value="@Model?.Gate.Name" autocomplete="off" autofocus />
                        </div>


                        <div class="form-group"  style="display:none;">
                            <label asp-for="@Model.Gate.LoadingStation" class="control-label">@localizations["LoadingStation"] *:</label>
                            <select class="form-control" asp-for="@Model.Gate.LoadingStation">
                                @{
                                    for (int i = 0; i < Model.LoadingStations.Count; i++)
                                    {
                                        string LoadingStation = Model.LoadingStations[i].Name;
                                        if (LoadingStation == localizations["All"])
                                        {
                                            continue;
                                        }

                                        if (LoadingStation == Model.Gate.LoadingStation)
                                        {
                                            <option selected>@LoadingStation</option>
                                        }
                                        else
                                        {
                                            <option>@LoadingStation</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">@localizations["Description"] :</label>
                            <textarea class="form-control" asp-for="@Model.Gate.Description">@Model?.Gate.Description</textarea>
                        </div>

                        <hr />

                        <div class="form-group">
                            <p>* @localizations["Required"]</p>
                        </div>

                        <hr />

                        <div class="form-inline">
                            <a asp-action="Gates" class="btn btn-danger" style="float:left;">@localizations["Cancel"]</a>
                            <button type="submit" class="btn btn-success" style="float:right;" id="SendButton">@localizations["Save"]</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <!--row-->
</div>


@section Scripts{
    <script>
        document.getElementById("Gates").className += " active";
        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>" + localizations['NameRequired'] + "</li>";
            data += "<li>" + localizations['LoadingStationRequired'] + "</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}
