@model UnknownForwardingAgenciesViewModel
@{
    ViewData["Title"] = "Unbekannte Speditionen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
    var localizations = ViewBag.Localizations;
}

<div class="row">
    <div class="col-md-3">
        <partial name="/Views/Shared/_ConfigNav.cshtml" />

    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>@localizations["Overview"]</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>
                    @if (User?.IsInRole("CanExportUnknownCompanyLists") == true || User?.IsInRole("CanModifyAllSettings") == true)
                    {
                        <div class="input-group-btn" style="float:left;">
                            <a asp-action="ExportUnknownForwardingAgenciesCSV" class="btn"><i class="glyphicon glyphicon-download"></i> @localizations["CSVExport"]</a>

                        </div>

                        <br />
                        <hr />
                    }
                    <div class="table-responsive">
                        <table class="table table-striped" id="table">
                            <thead>
                                <tr>
                                    <th colspan="1">@localizations["Name"]</th>
                                    <th colspan="1">@localizations["FirstAppereance"]</th>
                                    <th colspan="1">@localizations["NumberOfTimes"]</th>
                                    <th>@localizations["Options"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model?.UnknownForwardingAgencies?.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.UnknownForwardingAgencies[i]?.Name</td>
                                        <td>@Model.UnknownForwardingAgencies[i]?.FirstAppereance.ToString()</td>
                                        <td>@Model.UnknownForwardingAgencies[i]?.NumberOfAppereances</td>
                                        <td>
                                            <form asp-action="DeleteUnknownForwardingAgency" method="post" onsubmit="disableButton('SendButton')">
                                                <input type="hidden" name="id" value="@Model.UnknownForwardingAgencies[i]?.ID" />
                                                <button class="btn btn-danger" id="SendButton" style="float:right" onclick="if (!confirm('@localizations["ConfirmDelete"]')) return false;"><i class="glyphicon glyphicon-remove"></i> @localizations["Delete"]</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <!--row-->
    </div>
</div>
@section Scripts{
    <script src="~/js/moment.js"></script>
    <script src="~/js/datetime-moment.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD.MM.YYYY');
            $.fn.dataTable.moment("DD.MM.YYYY HH:mm:ss");
            $.fn.dataTable.moment("HH:mm:ss");
            $('#UnknownForwardingAgencie').addClass("active");
            $('#table').DataTable({
                "paging": true,
                "searching": true,
                "stateSave": true,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [3] }
                ],
                "order": [[2, "desc"]],
                "language": {
                    "lengthMenu": localizations['DataTables_LengthMenu'], //"Zeige _MENU_ Einträge pro Seite",
                    "zeroRecords": localizations['DataTables_ZeroRecords'], //"Keine Einträge gefunden.",
                    "info": localizations['DataTables_Info'],//"Zeige Seite _PAGE_ von _PAGES_",
                    "infoEmpty": localizations['DataTables_InfoEmpty'], // "Keine Einträge verfügbar",
                    "paginate": {
                        "previous": localizations['DataTables_Previous'],//"Vorherige Seite",
                        "next": localizations['DataTables_Next']// "Nächste Seite"
                    },
                    "search": localizations['Search'] //"Suche:"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, localizations['All']]],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });

            setupInfoPopOver();

        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>" + localizations['UnknownDescriptionPart1'] + localizations['ForwardingAgency'] + localizations['UnknownDescriptionPart2'] + "</li>";
            data += "<li>" + localizations['ExportDescription'] + "</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>


}
